<div class="container">
  <h1>Mongo DB/Express News Scraper</h1>
  <div class="row">
    <div class="col">
      <p>Scrape New articles</p>      
      <button id="btn-scrape-articles" class="btn btn-primary">Scrape</button>          
    </div>
  </div>
  <div class="row">
    <div class="col">
      <div class="accordion" id="accordionExample">
      {{#each articles}}    
        {{> card/card-block data=this}}
      {{/each}}
      </div>
    </div>
  </div>
</div>
